*{
    padding: 0;
    margin: auto;
    font-weight: bolder;
    font-family: cursive;
}
.texto{
  font-size: 3vw;
}
html, body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif; 
  }
  
  .button{
    width: 4.514vw;
    padding: 1.389vw;
    margin: 0 0.486vw;
    border: 0.139vw solid black;
    background-color: #7fff00;
    border-radius: 0.625vw;
    cursor: pointer;
    font-size: 1vw;
  }
  
  .row{
    margin: 0.556vw 0;
  }
  .row input{
    width: 22.222vw;
    font-size: 1.389vw;
    margin: 0;
    padding: 0.694vw 0vw;
    border: 0.139vw solid black;
    border-radius: 0.347vw;
  }
  .texto{
    text-align: center;
    margin: 1.389vw;
  }
  .container{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3D3D3D;
    margin: 0vw 34.722vw 0vw 34.722vw;
    border-radius: 0.347vw;
    width: 25.042vw;
    height: 33.264vw;

  }
  